:root {
  --clr-background: hsl(0, 0%, 100%);
  --clr-background-large-screen: hsl(30, 54%, 90%);
  --clr-separator: hsl(30, 18%, 87%);
  --clr-text: hsl(30, 10%, 34%);
  --clr-recipe-name: hsl(24, 5%, 18%);
  --clr-heading: hsl(14, 45%, 36%);
  --clr-lists: hsl(14, 45%, 36%);
  --clr-preparation-heading: hsl(332, 51%, 32%);
  --clr-preparation-background: hsl(330, 100%, 98%);

  --fs-base: 1rem;
  --fs-title: clamp(2.25rem, 5vw, 2.5rem);
  --fs-subtitle: 1.75rem;
  --fs-body: 1rem;
  --fs-prep-title: 1.25rem;

  --font-family-heading: "Young-Serif", serif;
  --font-family-text: "Outfit", sans-serif;
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Young-Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: grid;
  place-items: center;
  font-family: var(--font-family-text);
  font-size: var(--fs-base);
  color: var(--clr-text);
  background-color: var(--clr-background);
  min-height: 100vh;
}

.recipe {
  background-color: var(--clr-background);
  width: 100%;
  max-width: 46rem;
}

.recipe__content {
  padding: 2.5rem;
}

.recipe__title {
  color: var(--clr-recipe-name);
  font-family: var(--font-family-heading);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  line-height: 1;
  margin-block-end: 1.5rem;
}

.recipe__description {
  margin-block-end: 2rem;
  line-height: 1.5;
}

.recipe__prep-card {
  background-color: var(--clr-preparation-background);
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.recipe__prep-title {
  color: var(--clr-preparation-heading);
  font-size: var(--fs-prep-title);
  font-weight: var(--fw-bold);
  margin-block-end: 1rem;
}

.recipe__prep-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-inline-start: 1.5rem;
}

.recipe__prep-list li::marker {
  color: var(--clr-preparation-heading);
}

.recipe__section {
  padding-block: 2rem;
}

.recipe__subtitle {
  color: var(--clr-heading);
  font-family: var(--font-family-heading);
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-semibold);
  margin-block-end: 1.5rem;
}

.recipe__section-text {
  margin-block-end: 1.5rem;
}

.recipe__list {
  padding-inline-start: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe__list li {
  padding-inline-start: 1rem;
}

.recipe__list li::marker {
  color: var(--clr-lists);
  font-weight: var(--fw-bold);
}

.recipe__list li span,
.recipe__prep-list li span {
  font-weight: var(--fw-bold);
}

.recipe__nutrition-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recipe__nutrition-table dt,
.recipe__nutrition-table dd {
  padding-block: 0.75rem;
  border-bottom: 1px solid var(--clr-separator);
}

.recipe__nutrition-table dt:nth-last-of-type(1),
.recipe__nutrition-table dd:nth-last-of-type(1) {
  border-bottom: none;
}

.recipe__nutrition-table dt {
  padding-left: 2rem;
}

.recipe__nutrition-table dd {
  color: var(--clr-heading);
  font-weight: var(--fw-bold);
}

.border-bottom {
  border-bottom: 1px solid var(--clr-separator);
}

@media (min-width: 45rem) {
  body {
    padding-block: 3rem;
    background-color: var(--clr-background-large-screen);
  }

  .recipe {
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 2.5rem;
  }

  .recipe__image {
    border-radius: 0.75rem;
  }

  .recipe__content {
    padding-inline: 0;
    padding-block-end: 0;
  }
}
